<!-- AboutUs -->
<main>

  <div class="row">
    <div class="medium-12 large-7 columns">

      <h1> Meet the Director </h1>
      <hr>
      <p id="MeetMandy"> Mandy Spohn earned her Bachelor's degree in Elementary Education with a focus on deaf and hard of hearing education at the University of Nebraska-Lincoln. <br><br> She went on to earn her Master's Degree in Special Education with endorsements in Early Childhood and Deaf and Hard of Hearing education.<br> <br>  Mandy taught with Lincoln Public Schools for five years before opening Here We Grow Preschool in the fall of 2012.
      </p>

      <h1> Engaged Learning and Growing </h1>
      <hr>
      <p id="Curriculum"> The Here We Grow curriculum is designed to support the strengths and needs of all students.  Thematic units are created to provide fun and structured learning while focusing on:
         <ul>
          <div id="EngagedLearning">
            <li> Pre-academic skills embedded in daily routines </li>
            <br>
            <li> Basic, intermediate, and advanced vocabulary </li>
            <br>
            <li> Functional language development </li>
            <br>
            <li> Music, movement, and games </li>
            <br>
            <li> Listening and social skills </li>
            <br>
            <li> Special activities and projects </li>
          </div>
        </ul>
      </p>

      <%= image_tag 'logo_transparent1.png', :class => "show-for-large-up",
                                             :alt => "logo",
                                             :id => "logo2" %>

    </div>

    <div class="medium-12 large-5 columns">

      <%= image_tag "MandySpohn.jpg", :id => "MandyPhoto",
                                      :alt => "Mandy Spohn at Here We Grow Preschool" %>

      <div class="panel text-center" id="Contact">
        <h3 class="subheader">   <b> Contact us to learn more or schedule a tour </b> </h3>
        <p>
          Email: <a href="mailto:mspohn@HereWeGrowLincoln.com"> mspohn@HereWeGrowLincoln.com </a> <br>
          Phone: (402) 261-8519 <br> <br>

          3600 Village Dr. Suite 130 <br>
          Lincoln, NE 68516 <br>
          (Just west of 40th and Old Cheney
          in the Williamsburg area)
        </p>
        <p>
          <%= link_to "https://www.facebook.com/herewegrowlincoln", html_options = { target: "_blank", id: "FBLogo" } do %>
            <%= image_tag "FB_blue_29.png", :alt => "Facebook logo" %>
          <% end %>
          Find us on <a href="https://www.facebook.com/herewegrowlincoln" target="__blank">Facebook</a>
        </p>
      </div>

      <iframe id="GoogleMap" width="425" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3600+Village+Dr.+Suite+130,+Lincoln+NE&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=31.095668,62.578125&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=3600+Village+Dr+%23130,+Lincoln,+Lancaster,+Nebraska+68516&amp;ll=40.755905,-96.668787&amp;spn=0.022756,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>


    </div>
  </div>


</main>
