<!-- Calendar -->
<main class="row">
  <iframe src=<%= @calendar_link %> class="embedded_pdf small-12 columns">
    <%= "If calendar doesn't load, please visit #{@calendar_link}" %>
  </iframe>
</main>