<!-- Handbook -->
<main class="row">
  <iframe src=<%= @handbook_link %> class="embedded_pdf small-12 columns">
    <%= "If handbook doesn't load, please visit #{@handbook_link}" %>
  </iframe>
</main>