<!-- Home -->
<main>

  <div class="row">
    <div class="large-6 columns">
      <%= image_tag 'highreslogo.jpg', :class => "logo", alt: "Here We Grow Preschool Logo" %>
      <%= link_to(register_path, 
                  :class => "show-for-large-up button radius enrolling-button") do %>
                  <strong> Now <br> Enrolling! </strong>
      <% end %>
    </div>
    <div class="large-6 columns">
      <div class="panel program-description">
        <h2 class="subheader text-center"> 
          An early childhood program for <br> children ages 3-5 
        </h2>
        <hr> 
        <p class="large-font text-center"> Here We Grow Preschool provides a safe, caring environment to foster engagement, development, inquiry, and a love of school in our early childhood community.  </p>
      </div>
    </div>
  </div>   


  <div class="row">
    <div class="small-12 columns panel goals">
      <h2 class="text-center">At Here We Grow Preschool, our goals are to: </h2>
        <ul class="large-font">
          <span class="medium-6 columns">
            <li> Create and maintain a partnership with families to uphold a balanced approach in the development of young children </li>
            <li> Respect the learning styles of all children, to encourage optimal social, emotional, physical, and academic development </li>
          </span>
          <span class="medium-6 columns">
            <li> Maintain a small teacher to student ratio to ensure an ideal auditory environment and focus attention on individual and small group learning </li>
            <li> Invite, teach, and celebrate all children with varying strengths, needs, and abilities </li>
        </span>
      </ul>
    </div>
  </div>  
</main>
