<!-- Registration Form -->
<main class="row">
  <% if @reg_form %>
    <%= render partial: "layouts/embedded_pdf", locals: { file: @reg_form.file } %>
  <% else %>    
    <div class="panel">
      No registration form available at this time.
    </div>
  <% end %>
</main>
