<div class="row pdf_display_page">
  <h1 class="text-center"> Class Contact List </h1>

  <% current_user.groups.each do |group| %>
    <h2 class="text-center"><%= group.name %></h2>
    <%= render partial: "layouts/embedded_pdf", locals: 
        { file: group.class_contact_list.file } %>
  <% end %>
</div>