<!-- Desktop -->
<ul class="dropdown show-for-large-up">
  <li>
    <%= link_to 'Change Password', edit_user_registration_path %>        
  </li>
  <li>
    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>  
  </li>
</ul>

<!-- Mobile -->
<div class="hide-for-large-up">
  <ul class="mobile-sub-menu hide">
    <li>
      <%= link_to 'Change Password', edit_user_registration_path %>        
    </li>
    <li>
      <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>  
    </li>
  </ul>
</div>