<!-- Link to log in or log out -->

<% if user_signed_in? %>
  <li>
  <%= link_to 'Parents', parents_root_path %>        
  </li>
<% else %>
  <li>
  <%= link_to('Parents', new_user_session_path)  %>  
  </li>
<% end %>