<div class="pdf_display_page">
  <div class="row">
    <h1 class="text-center"> Peek at Our Week(s) and Vocabulary </h1>
  </div>

  <div class="row">

    <% if @newest_peek %>
      <%= render partial: "layouts/embedded_pdf", locals: { file: @newest_peek.peek } %>
      <div class="text-center">
        <%= content_tag "a", id: "toggle-vocab", 
          data: { 
            peek: @newest_peek.peek.url, vocab: @newest_peek.vocab.url } do %>
          Show Vocabulary
        <% end %>      
      </div>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div class="small-12 columns text-center">
        <%= link_to "View Archive", parents_peeks_path, :class => "button" %>
    </div>
  </div>
</div>