<div class="pdf_display_page">
  <div class="row">
    <h1 class="text-center"> Peek at Our Week(s) and Vocabulary </h1>
  </div>

  <div class="row">

    <% if @newest_peek %>
      <%= render partial: "layouts/embedded_pdf", locals: { file: @newest_peek.peek } %>
      <p class="text-center">
        See <%= link_to 'Vocabulary', parents_curriculum_current_vocab_path %> for this unit.
      </p>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div class="small-12 columns text-center">
        <%= link_to "View Archive", parents_curriculum_peek_and_vocab_path, :class => "button" %>
    </div>
  </div>
</div>