<div class="pdf_display_page">
  <div class="row">
    <h1 class="text-center"> Peek at Our Week(s) and Vocabulary </h1>
  </div>

  <div class="row">
    <% if @peek %>
      <div class="text-center">
        <%= content_tag "a", id: "toggle-vocab", 
          data: { 
            peek: @peek.peek.url, vocab: @peek.vocab.url } do %>
          Show Vocabulary
        <% end %>      
      </div>
      <%= render partial: "layouts/embedded_pdf", locals: { file: @peek.peek } %>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
        <%= link_to "View Archive", parents_peeks_path %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  
<% end %>