<div class="peek_index">
  <div class="row">
    <h1 class="text-center"> Peek at Our Week(s) and Vocabulary </h1>
  </div>

  <div class="row">
    <% if @peek %>
      <object data="<%= @peek.file.url %>" type="application/pdf" 
        class="embedded_pdf small-12 columns">    
          <p>
            It appears you don't have a PDF plugin for this browser.
            No problem... You can <a href="<%= @peek.file.url %>">click here to
            download the PDF file.</a>
          </p>     
      </object>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
        <%= link_to "View Archive", parents_peeks_path %>
    </div>
  </div>
</div>