<div class="panel">
  <%= render 'layouts/admin/file_uploader_tabs' %>

  <h2><small> Class Contact Lists </small></h2>

  <table>
    <thead>
      <th> Class </th>
      <th> Uploaded </th>
      <th> Edit </th>
    </thead>

    <tbody>
      <% @class_contact_lists.each do |class_contact_list| %>
        <tr>
          <td> 
            <%= link_to "#{class_contact_list.group.name}", 
            parents_class_contact_list_path(class_contact_list) %> 
          </td>
          <td> <%= date_to_s(class_contact_list.updated_at) %> </td>
          <td> 
            <%= link_to "Edit", edit_admin_class_contact_list_path(class_contact_list) %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
</div>