<div class="row">
  <h1 class="text-center"> Peek of the Week </h1>
</div>

<div class="row">
  <% if @current %>
    <object data="<%= @current.file.url %>#pagemode=thumbs" type="application/pdf" 
      class="embedded_pdf small-12 columns">    
        <p>
          It appears you don't have a PDF plugin for this browser.
          No biggie... you can <a href="<%= @current.file.url %>">click here to
          download the PDF file.</a>
        </p>     
    </object>
  <% end %>
</div>