<div class="row">
  <object data="<%= @current.file.url %>#pagemode=thumbs" type="application/pdf" 
    class="embedded_pdf small-12 columns">
   
    <p>It appears you don't have a PDF plugin for this browser.
    No biggie... you can <a href="<%= @current.file.url %>">click here to
    download the PDF file.</a></p>
    
  </object>
</div>