<div class="row" id="peek_archive">
  <h1 class="small-12 columns text-center">
    Peek at Our Week(s) And Vocabulary Archive
  </h1>

  <ul class="small-12 columns text-center">
    <% @newsletters.each do |newsletter| %>
      <li> <%= link_to date_to_s(newsletter.date), peek_path(newsletter) %> </li>
    <% end %>
  </ul>
</div>