<div class="row">
  <dl class="tabs medium-12 columns">
    <dd><%= nav_link_to "Class Contact Lists", admin_class_contact_lists_path %></dd>
    <dd><%= nav_link_to "Calendar", admin_calendars_path %></dd>
    <dd><%= nav_link_to "Handbook", admin_handbooks_path %></dd>
    <dd><%= nav_link_to "Registration Form", admin_registration_forms_path %></dd>
  </dl>
</div>