<div class="row">
  <dl class="tabs medium-12 columns">
    <dd><%= link_to "Calendar", admin_calendars_path %></dd>
    <dd><%= link_to "Handbook", admin_handbooks_path %></dd>
    <dd><%= link_to "Registration Form", '#' %></dd>
  </dl>
</div>