<div class="pdf_display_page">
  <div class="row">
    <h1 class="text-center"> Units </h1>
  </div>

  <div class="row">
    <% if @newsletter %>
      <%= render partial: "layouts/embedded_pdf", locals: { file: @unit_doc.doc } %>
    <% end %>
  </div>
</div>