<main class="row panel">
  <h1 class="text-center"> Announcements </h1>
  <br>
  <hr>
  <% @announcements.each do |announcement| %>
    <div class="small-12 columns">
      <h2><%= announcement.name %></h2>
      <p>Posted: <%= date_to_s(announcement.created_at) %></p>
      <p><%= announcement.message %></p>
      <hr>
    </div>
  <% end %>
</main>