<main class="row panel">
  <h1 class="text-center"> Announcements </h1>
  <br>
  <hr>
  <% if @announcements.length == 0 %>
    <div class="small-12 columns text-center">
      There are no announcements for your class at this time.
    </div>
  <% end %>
  <% @announcements.each do |announcement| %>
    <div class="row">    
      <div class="medium-3 columns">
        <%= image_tag 'highreslogo.jpg', :class => 'logo' %>
      </div>
      <div class="medium-9 columns announcements">
        <h2 class="text-center"><%= announcement.name %></h2>
        <p>Posted: <%= date_to_s(announcement.created_at) %></p>
        <p><%= announcement.message %></p>
        <hr>
      </div>
    </div>
  <% end %>
</main>