<div class="panel">
  <h1 class="text-center"><small>  Announcements </small></h1>
  <%= render 'form' %>
</div>

<div class="panel lower-panel">
  <h2><small> Current Announcements </small></h2>
  <%= link_to "View Expired Announcements", '/expired_announcements', 
    :id => "select_announcements", remote: true %>

  <div id="announcement_table">
    <%= render partial: 'table', locals: { announcements: @announcements } %>
  </div>
</div>