<div class="pdf_display_page">
  <div class="row">
    <h1 class="text-center"> Newsletter </h1>
  </div>

  <div class="row">
    <% if @newest_newsletter %>
      <%= render partial: "layouts/embedded_pdf", locals: { file: @newest_newsletter.file } %>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
        <%= link_to "View Archive", parents_newsletters_path %>
    </div>
  </div>
</div>