@import "foundation_and_overrides";


// CUSTOM VARIABLES AND MIXINS
//===========================================

$large-font-size: 115%;
$larger-font-size: 130%;

.large-font {
  font-size: $large-font-size;
  line-height: $paragraph-line-height * 1.05;
}

.larger-font {
  font-size: $larger-font-size;
  line-height: $paragraph-line-height * 1.05;
}

@mixin text-border {
  border: rem-calc(3px) solid white;
}

@mixin photo-border {
  border: rem-calc(4px) groove $light-blue;
}


// SITE-WIDE STYLES
//===========================================

html, body {
  height: auto;
}

.blue-background {
  background-color: $dark-blue;

  .panel {
    a {
    color: $dark-blue;
    }
    a:hover {
    color: white;
    }
  }
}

.light-blue-background {
  background-color: darken($light-blue, 10%);
}

.pink-background {
  background-color: $pink;
}

.orange-background {
  background-color: $orange;
}

.panel {
  @include text-border;

  a {
    color: $dark-blue;
    text-decoration: underline;
  }
  a:hover {
    color: white;
  }

  h1, h2, h3, h4 { color: white;}
}


.indent {
  text-indent: rem-calc(5px);
}

.reduce-margin {
  margin-bottom: 0;
}

.flash-message-box {
  width: 80%;
  margin: 0 auto;
  padding: rem-calc(8px);
  background-color: white;
  border: rem-calc(2px) solid $dark-blue;
  font-size: rem-calc(18px);

  p.notice {
    margin-bottom: 0;
    border: rem-calc(1px) solid $green;
  }

  p.alert {
    margin-bottom: 0;
    border: rem-calc(1px) solid $orange;
  }
}

footer address {
  text-align: center;
  padding: rem-calc(5px);
  font-style: normal;
  margin-bottom: rem-calc(5px);
}

#error_explanation p, #error_explanation li {
  color: darken($orange, 3%);
}

@media #{$small-only} {
  .embedded_pdf {
  height: rem-calc(300px);
  }
}

@media #{$medium-up} {
  body {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: none;
    border-width: rem-calc(10px);
    border-style: double;
    border-color: white;
    border-radius: rem-calc(10px);
  }

  main {
    padding: rem-calc(5px);
  }

  .indent {
    text-indent: rem-calc(20px)
  }

  .embedded_pdf {
    height: rem-calc(700px);
  }
}

@import "foundation";
