<!DOCTYPE html>
<html>
<body>

<p>
The <%= link_to 'Peek at Our Week(s) and Vocabulary', parents_curriculum_current_peek_url %> for our upcoming unit has been posted for you to view. Login to see what fun and important learning we will be engaged in during the weeks ahead. 
</p>

<%= render 'layouts/mailers/footer' %>
</body>
</html>
