<!-- Display Flash Messages -->
<% if flash[:notice] %>
  <div class="row flash-message-box">
    <p class="notice text-center"><strong><%= notice %></strong></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="row flash-message-box">
    <p class="alert text-center"><strong><%= alert %></strong></p>
  </div>
<% end %>